[submodule "sllidar_ros2"]
	path = src/sllidar_ros2
	url = git@github.com:Slamtec/sllidar_ros2.git
[submodule "vscode_ros2_workspace"]
	path = vscode_ros2_workspace
	url = https://github.com/SESASR-Course/vscode_ros2_workspace.git
	branch = humble-nvidia
