[submodule "sllidar_ros2"]
	path = ./src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "diffdrive_arduino"]
	path = diffdrive_arduino
	url = git@github.com:joshnewans/diffdrive_arduino.git
